body{
background-image: url("topimage1.jpg");
background-repeat: no-repeat;
background-position-x: center;
font-family: 'Muli', sans-serif;
}

.wrapper{
width:100%;
max-width:1900px;
min-width:1500px;
margin-left: auto;
margin-right: auto;
}
#navr{
text-align:left;
float:left;
}
.nav{
text-align:right;
float:right;
display:inline-block;
}
.nav li{
display:inline;
padding-right:15px;
padding-top:5px;
font-size:25px;
font-family: 'Muli', sans-serif;
letter-spacing:3px;
text-transform:uppercase;
}
.nav a{
color:white;
}
.nav a:link{
text-decoration:none;
}
.nav a:visited{
text-decoration:none;
}

.panel1{
height:352px;
}
.panel2{
background-image:url("codeacademy.jpg");
height:500px;
margin-top:0px;
text-align:center;
padding:20px;
font-family: 'Muli', sans-serif;
background-repeat:no-repeat;
background-position:right;
}
.panel2 .container{
width: 600px;
text-align: left;
color:grey;
padding:20px;
border-radius:5px;
margin-top:125px;
margin-left:50px;
}
.panel2 p{
font-size:20px;
}
.panel3{
color:grey;	
background-image:url("w3.jpg");
background-repeat:no-repeat;
background-position: left;
height:500px;
margin-top:20px;
text-align:center;
padding:20px;
}
.panel3 .container{
margin-top:175px;
width:750px;
float:right;
color:grey;
text-align:left;
}
.panel3 p{
font-size: 20px;
}
.panel4{
background-image:url("stackoverflow.jpg");
background-position-x:right;
background-repeat:no-repeat;
height:450px;
}
.panel4 .container{
color:grey;
width:400px;
margin-top:55px;
margin-left:125px;
}
.panel4 p{
font-size: 20px;
}
.footer{
background-color:black;
color:grey;
text-align:center;
margin-bottom:0px;
height:75px;
width:100%;
bottom:0;
left:0;
}
.footer .container{
width: 100%;
height: 100%;
display: table;
text-align: center;
}

.footer .container p{
display: table-cell;
vertical-align: middle;
font-size:12px;
}