body{
background-color:red;
}

#menu{
height:92%;
width:96%;
background-color:#ffffff;
position:absolute;
top:50%;
left:50%;
margin-left:-48%;
margin-top:-25%;
border-radius:5px;
}
table{
position:absolute;
top:50%;
left:50%;

height:600px;
width:600px;

margin-top:-300px;
margin-left:-300px;

border-spacing:20px;
}


td{
border: 6px solid #66ff33;
border-radius:8px;
height:250px;
width:250px;
text-align:center;
}

